
   .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
  

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 50%;
 }
 .swiper-button-prev:after,
 .swiper-rtl .swiper-button-next:after {
  font-size: 14px;
  color: #2b2b2b;
  font-weight: bold;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}




.slider{
       .swiper-button-prev {
        position: absolute;
        top: 300px;
        right: 50px;
      }
      .swiper-rtl .swiper-button-next{
        position: absolute;
        top: 300px;
        right: 100px;
      }

      .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 5px ;
    height: 5px ;
    opacity: 0.5;
    transition: 500ms;
}
.swiper-pagination-bullet-active{
    width: 15px !important;
    height: 5px !important;
    border-radius: 5px !important;
    background-color: whitesmoke !important;
    opacity: 1 !important;
}
}


